* {
    margin: 0px;
    padding: 0px;
}

header {
    background: #415e9b;
    height: 92px;
    border-bottom: 1px solid #133783;
}

.header-block {
    width: 992px;
    margin: 0 auto;
    padding-top: 20px;
}

.logo {
    width: 50%;
    float: left;
}

.facebook-login {
    width: 50%;
    float: left;
}

.logo img {
    /* padding-top: 1px; */
    padding-bottom: 20px;

}

.header-block label {
    color: #fff;
}

.email {
    float: left;
}

.email label {
    padding-bottom: 10px;
}

.email input[type="text"] {
    height: 20px;
    width: 150px;
    border: 1px solid #1d2a5b;
}

.password {
    float: left;
    margin-left: 15px;
}

.password input[type="password"] {
    height: 20px;
    width: 150px;
    border: 1px solid #1d2a5b;
}

.password label {
    padding-bottom: 10px;
}

.login-button a {
    color: #8fb1d8;
    text-decoration: none;
     float: left;
    margin-left: 170px; 
    margin-top: 3px;
}

.password input[type="submit"] {
    background: #4267b2;
    border: 1px solid #29487d;
    border-radius: 2px;
    color: #fff;
    height: 25px;
    width: 50px;
    margin-left: 10px;

}

.clearfix {
    clear: both;
}

.content-block {
    width: 992px;
    margin: 0 auto;
}

.facebook-connect {
    margin-top: 50px;
    float: left;
    width: 50%;
}

.facebook-connect P {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
}

.facebook-connect img {
    margin-top: 10px;
}

.create-account {
    float: left;
    width: 50%;
}

.content-container {
    background: linear-gradient(#fff, #d9ddeb);
    overflow: hidden;
}

.create-account h2 {
    font-size: 40px;
}

.create-account .free {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.account input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #bdc7d8;
}

.account input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #bdc7d8;
    margin-left: 0px;
}

.account .mobile,
.account .password {
    width: 84% !important;
}

.account label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.account a {
    text-decoration: none;
    color: #3677bc;
}

.account input[type="radio"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

.account .by-clicking {
    color: #77777a;
}

.account input[type="submit"] {
    margin-bottom: 15px;
    padding: 15px 22px;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid #3b6e22;
    margin-top: 15px;
    color: #fff;
    background: linear-gradient(#95d67c, #65a953);
}